modules = ["nodejs-20", "web", "postgresql-16", "java-17"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
build = ["npm", "run", "build"]
run = ["npm", "run", "start"]

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Dev Frontend"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[workflows.workflow]]
name = "Run Java Backend"
author = 39773216
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd java-backend && ./workflow.sh"

[[workflows.workflow]]
name = "Dev Frontend"
author = 39773216
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd client && npm install && npm run dev"

[[workflows.workflow]]
name = "Dev Backend"
author = 39773216
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install && npm run dev"
